nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href="/")
    code #svg-jaws
  button.navbar-toggler(
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
  )
    span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarSupportedContent
    ul.navbar-nav.mr-auto
      for item in site.menu
        - let children = collections[item.children]
        if children && children.length
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(
              href=item.uri
              id=`dropdown-${item.children}`
              data-toggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
            ) #{ item.text }
            .dropdown-menu(aria-labelledby=`dropdown-${item.children}`)
              each subitem in collections[item.children]
                a.dropdown-item(href=subitem.url)= subitem.data.title
        else
          li.nav-item
            a.nav-link(href=`${item.uri}`) #{ item.text }
